menu "Application settings"

    config APP_WIFI_SSID
        string "Wi-Fi SSID"
        default ""

    config APP_WIFI_PASSWORD
        string "Wi-Fi password"
        default ""

    config APP_TELEMETRY_URL
        string "Telemetry URL"
        default ""

endmenu
