menu "Application settings"

    config APP_MEASUREMENT_INTERVAL_SECONDS
        int "Measurement interval in seconds"
        range 30 86400
        default 3600

    config APP_NETWORK_WAIT_SECONDS
        int "Maximum Wi-Fi connection wait in seconds"
        range 1 120
        default 30

    config APP_WIFI_SSID
        string "Wi-Fi SSID"
        default ""

    config APP_WIFI_PASSWORD
        string "Wi-Fi password"
        default ""

    config APP_TELEMETRY_URL
        string "Telemetry URL"
        default ""

endmenu
